@page
@model OverModel
@{
    ViewData["Title"] = "Over";
}

<div class="text-center">
    <h1 class="	display-4">Over Azure reporting</h1>
    <div class="container px-4" style="margin-top:2.5%">
        <div class="row gx-5">
            <div class="col">
                <div>
                    <img class="shadow-lg" style="image-rendering: -webkit-optimize-contrast; border-radius: 20%;" src="/Images/stagiair.png" alt="Stagiair">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="p-3 border text-start rounded-3 shadow" style="background-color: #e4e4e4;">
                    <h4>Opdracht</h4>
                    <p> 
                        Het gaat hier over de stageopdracht met het onderwerp over Azure reporting. 
                        Deze stage is verstrekt door Cipher. 
                        Cipher is een handelsnaam van Innervate Services BV en wordt gebruikt voor de verschillende softwareoplossingen binnen Innervate. 
                        Innervate is een IT-adviesbureau, gevestigd bij Maastricht airport.
                        <br>
                        Binnen de opdracht is er gekeken naar de mogelijkheden om verschillende klant-oplossingen te monitoren binnen de Cloud oplossing van Microsoft Azure. 
                        Hierbij is er gekeken naar de mogelijke methodieken/tools en de manier waarop dit alles geïmplementeerd moet worden.
                    </p>

                </div>
                <div class="p-3 border mt-4 text-start rounded-3 shadow" style="background-color: #e4e4e4;">
                    <h4>Uitvoerder</h4>
                    <p>
                        De stage is uitgevoerd door Giuseppe Collura. 
                        Giuseppe Collura is een vierdejaars hbo-ICT student aan Zuyd Hogeschool, met profileringsrichting development. <br>
                        Aanvullend op de profileringsrichting zijn de volgende minoren gevolgd:
                        <li style="margin-top:-2%">Data Science</li>
                        <li>Design Research</li>
                        <li>Software Architecture</li>
                        <li>Artificial Intelligence</li>

                        Het gaat hier om een afstudeerstage die heeft plaatsgevonden binnen een tijdspanne van 20 weken en begeleid is door Tom Kleijkers (bedrijfsbegeleider) en Richard Aarts (schoolbegeleider).

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
